:root {
  --background: #181720;
  --background-secondary: #1f1d2b;
  --color-primary: #c3c1d1;
  --color-secondary: #808191;
  --color-icons: linear-gradient(
    132.57deg,
    #6d5fcf -5.3%,
    rgba(29, 92, 166, 0.58) 134.38%
  );
  --color-hover: #6c5ecf;
  --color-back-top: #111014;
  --linear-primary: linear-gradient(
    90deg,
    #1c5ca6 32.27%,
    #1e5ca7 32.28%,
    #6c5ecf 81.91%
  );
  --linear-secondary: linear-gradient(90deg, #6c5ecf 2.21%, #1f1d2b 81.11%);
  --scrollbar: #4d4d57;
  --scrollbar-background: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: var(--background);
  color: var(--color-primary);
}

header,
footer {
  user-select: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

::-webkit-scrollbar {
  width: 6px;
  height: 0;
  scrollbar-width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}

.only-headers {
    background: var(--background-secondary);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.onlys-header-logo img {
    width: 4rem;
}

.onlys button {
    background: var(--background-secondary);
    padding: 8px 15px;
    font: 500 15px 'Rubik', Sans-serif;
    color: var(--color-primary);
    border: solid 1.3px var(--color-hover);
    border-radius: 3px;
    cursor: pointer;
}

.onlys button:hover {
    background: var(--color-hover);
    color: white;
    transition: 0.5s;
}

.line {
    margin-bottom: 7pc;
}

.line-header {
    height: 1.5px;
    background: var(--linear-primary);
}

@media screen and (min-width: 920px) {
    .header {
        padding: 15px 130px;
    }

    .line {
        margin-bottom: 145px;
    }
}

.titles-of-blocks h2 {
    font: 800 35px 'Overpass', Sans-serif;
    text-align: center;
    color: var(--color-primary);
}