:root {
  --background: #181720;
  --background-secondary: #1f1d2b;
  --color-primary: #c3c1d1;
  --color-secondary: #808191;
  --color-icons: linear-gradient(
    132.57deg,
    #6d5fcf -5.3%,
    rgba(29, 92, 166, 0.58) 134.38%
  );
  --color-hover: #6c5ecf;
  --color-back-top: #111014;
  --linear-primary: linear-gradient(
    90deg,
    #1c5ca6 32.27%,
    #1e5ca7 32.28%,
    #6c5ecf 81.91%
  );
  --linear-secondary: linear-gradient(90deg, #6c5ecf 2.21%, #1f1d2b 81.11%);
  --scrollbar: #4d4d57;
  --scrollbar-background: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: var(--background);
  color: var(--color-primary);
}

header,
footer {
  user-select: none;
}

.only-main {
  margin: 0 50px;
}

.only-form {
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  padding: 80px 0;
}

.companys {
  width: 625px;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}

.chmado-title h2 {
  font: 800 35px "Overpass", Sans-serif;
  user-select: none;
  text-align: center;
  margin-bottom: 30px;
}

input,
select,
textarea {
  width: 100%;
}

.inputs-one,
.inputs-line {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
}

input,
select {
  height: 60px;
  padding: 15px 20px;
  margin-bottom: 15px;
  background-color: var(--background-secondary);
  border: 2px solid var(--color-hover);
  border-radius: 7px;
}

textarea {
  height: 215px;
  padding: 15px 20px;
  margin-bottom: 15px;
  background-color: var(--background-secondary);
  border: 2px solid var(--color-hover);
  border-radius: 7px;
}

input::placeholder,
select,
textarea::placeholder {
  color: var(--color-secondary);
  font: 500 13px "Rubik", Sans-serif;
}

input {
  user-select: all;
}

input::selection,
select::selection,
textarea::selection,
p::selection,
a::selection,
img::selection,
div::selection {
  color: var(--color-primary);
  background-color: var(--scrollbar);
}

input,
select,
textarea {
  font: 400 15px "Heebo", Sans-serif;
  color: var(--color-secondary);
}

input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

textarea {
  resize: none;
}

#subject {
  color: var(--color-secondary);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(/assets/svg/chevron-down.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 95%;
  background-size: 1.5rem;
}

::-webkit-file-upload-button {
  background-color: var(--background-secondary);
  border: none;
  font: 400 15px "Heebo", Sans-serif;
  color: var(--color-secondary);
  margin-right: 15px;
}

::-ms-browse {
  background-color: var(--background-secondary);
  border: none;
  font: 400 15px "Heebo", Sans-serif;
  color: var(--color-secondary);
  margin-right: 15px;
}

button {
  height: 60px;
  width: 45%;
  padding: 15px 20px;
  margin-bottom: 15px;
  background-color: var(--background-secondary);
  border: 2px solid var(--color-hover);
  border-radius: 7px;
}

button {
  font: 500 15px "Rubik", Sans-serif;
  color: var(--color-primary);
  user-select: none;
  cursor: pointer;
}

button:hover {
  color: var(--color-hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: 0.3s;
}

input:hover,
textarea:hover,
select:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: 0.3s;
}

.sr-only {
  display: none;
}

.only-footer {
  justify-content: center;
}

.onlys-footer p {
  text-align: center;
  font: 500 15px "Overpass", Sans-serif;
}

.chamado-adds {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}

.chamado-adds img {
  display: none;
}

.infos-pq {
  display: flex;
  align-items: center;
}

.infos-pq a {
  font: 400 15px "Heebo", Sans-serif;
  color: var(--scrollbar);
  text-decoration: none;
}

.infos-pq a {
  transition: color 0.2s;
  position: relative;
}

.infos-pq a:hover {
  color: var(--color-hover);
}

.infos-pq a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--linear-primary);

  position: absolute;
  left: 0;
  bottom: -0.3rem;

  transition: width 0.3s;
}

.infos-pq a:hover::after {
  width: 100%;
}

@media screen and (max-width: 537px) {
  .inputs-one,
  .inputs-line {
    display: inherit;
  }

  .companys {
    width: auto;
  }

  .chmado-title h2 {
    font-size: 28px;
  }

  .infos-pq a,
  .onlys-footer p {
    font-size: 12px;
  }

  .only-main {
    margin: 0 20px;
  }

  input::placeholder,
  select,
  textarea::placeholder {
    font-size: 12px;
  }
  input,
  select,
  textarea {
    font-size: 12px;
  }

  button {
    font-size: 13px;
    width: 100%;
  }
}
