:root {
  --background: #181720;
  --background-secondary: #1f1d2b;
  --color-primary: #c3c1d1;
  --color-secondary: #808191;
  --color-icons: linear-gradient(
    132.57deg,
    #6d5fcf -5.3%,
    rgba(29, 92, 166, 0.58) 134.38%
  );
  --color-hover: #6c5ecf;
  --color-back-top: #111014;
  --linear-primary: linear-gradient(
    90deg,
    #1c5ca6 32.27%,
    #1e5ca7 32.28%,
    #6c5ecf 81.91%
  );
  --linear-secondary: linear-gradient(90deg, #6c5ecf 2.21%, #1f1d2b 81.11%);
  --scrollbar: #4d4d57;
  --scrollbar-background: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: var(--background);
  color: var(--color-primary);
}

.only-section {
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  padding-top: 150px;
}

.only-container {
  width: 660px;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}

.texts-only {
  padding: 45px;
  background: var(--background-secondary);
  border-radius: 7px;
  margin-bottom: 80px;
}

.texts-only h3::selection {
  color: var(--color-primary);
  background-color: var(--scrollbar);
}

.texts-only h3 {
  font: 800 25px 'Overpass', Sans-serif;
  color: var(--color-primary);
}

.texts-only p {
  font: 400 16px 'Heebo', Sans-serif;
  color: var(--color-secondary);
  line-height: 22px;
  text-align: justify;
  margin: 25px 0;
}

button {
  height: 50px !important;
  width: 173px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: var(--background-secondary);
  border: 2px solid var(--color-hover);
  border-radius: 7px;
}

#button1 {
  margin-right: 10px !important;
}

button {
  font: 500 15px "Rubik", Sans-serif;
  color: var(--color-secondary);
  user-select: none;
  cursor: pointer;
}

button:hover {
  color: var(--color-hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: 0.3s;
}

.texts-only nav {
  user-select: none;
}

.creators {
  display: flex;
  justify-content: center;
}

.creators p, .creators span {
  margin-right: 8px;
  font: 500 12px "Rubik", Sans-serif;
  color: var(--color-secondary);
  user-select: none;
  text-decoration: none;
}

.creators a {
  margin-right: 3px;
  font: 500 12px "Rubik", Sans-serif;
  color: var(--color-secondary);
  user-select: none;
  text-decoration: none;
}

.creators a:hover {
  color: var(--color-hover);
}

.only-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 488px) {
  .only-section {
    padding-top: 80px;
  }

  #button1 {
    margin-right: 0;
    margin-bottom: 15px !important;
  }

  .creators p, .creators span, .creators a {
    font-size: 8px;
  }
}

@media screen and (max-width: 320px) {
  .texts-only {
    margin-bottom: 40px;
    padding: 25px;
  }
}