:root {
  --background: #181720;
  --background-secondary: #1f1d2b;
  --color-primary: #c3c1d1;
  --color-secondary: #808191;
  --color-icons: linear-gradient(
    132.57deg,
    #6d5fcf -5.3%,
    rgba(29, 92, 166, 0.58) 134.38%
  );
  --color-hover: #6c5ecf;
  --color-back-top: #111014;
  --linear-primary: linear-gradient(
    90deg,
    #1c5ca6 32.27%,
    #1e5ca7 32.28%,
    #6c5ecf 81.91%
  );
  --linear-secondary: linear-gradient(90deg, #6c5ecf 2.21%, #1f1d2b 81.11%);
  --scrollbar: #4d4d57;
  --scrollbar-background: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: var(--background);
  color: var(--color-primary);
}

header,
footer {
  user-select: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

::-webkit-scrollbar {
  width: 6px;
  height: 0;
  scrollbar-width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}

@media screen and (min-width: 935px) {
  .header {
    padding: 25px 50px !important;
    margin: 0 100px !important;
  }

  .only-one-section,
  .only-two-section,
  .only-two-section,
  .called-four-only {
    justify-content: space-around !important;
  }

  .abount-text-only p {
    max-width: 534px !important;
  }
}

.only-header {
  background: var(--background-secondary);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 25px 50px;
  margin: 0;
}

.onlys-header-logo img {
  width: 5rem;
}

.toggle svg {
  width: 4.3rem;
  fill: var(--color-secondary);
}

.toggle svg:hover {
  fill: var(--color-hover);
  transition: 0.5s;
}

.navs {
  font: 500 15px "Rubik", Sans-serif;
  text-decoration: none;
  color: var(--color-secondary);
}

.navs {
  margin-right: 30px;
}

#navs {
  margin-right: 0;
}

ul {
  list-style: none;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .menu a {
  transition: color 0.2s;
  position: relative;
}

nav .menu a:hover {
  color: var(--color-hover);
}

nav .menu a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--linear-primary);

  position: absolute;
  left: 0;
  bottom: -0.7rem;

  transition: width 0.3s;
}

nav .menu a:hover::after {
  width: 100%;
}

.open,
.close {
  display: none;
}

@media screen and (max-width: 1084px) {
  body.show {
    overflow: hidden;
  }

  nav.show .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
  }

  nav.container {
    height: 4.5rem;
    display: flex;
    align-items: center;
  }

  .navs {
    margin: 0;
    text-align: center;
  }

  .menu,
  .grid,
  .grid li {
    text-align: center;
  }

  .cont-menu {
    padding: 0;
  }

  .menu {
    display: grid;
  }

  .grid {
    display: grid;
  }

  .grid a {
    line-height: 5.125rem;
  }

  nav ul li {
    text-align: left;
  }

  .loh-bar {
    width: 2rem;
  }

  .open,
  .close {
    display: inline;
  }

  nav .menu {
    opacity: 0;
    visibility: hidden;
  }

  div .menu {
    display: grid;
    justify-content: center;
  }

  nav.show .menu {
    opacity: 1;
    visibility: visible;
    background: var(--background-secondary);
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
  }

  nav.show .menu a {
    transition: color 0.2s;
    position: relative;
  }

  nav.show .menu,
  .navs:hover {
    color: var(--color-hover);
  }

  nav.show .menu {
    display: grid;
    place-content: center;
  }

  .toggle {
    font-size: 1.5rem;
    cursor: pointer;
  }

  nav .close {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: -1.5rem;
    right: 1.5rem;

    transition: 0.2s;
  }

  nav.show div.close {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
  }
}

.line-header {
  height: 1.5px;
  background: var(--linear-primary);
}

.only-one-section,
.only-two-section,
.only-two-section,
.only-three-section,
.called-four-only {
  padding: 0 50px;
  margin: 0;
}

.only-one-section,
.only-two-section,
.only-two-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
}

.advice-text-only h1 {
  font: 800 70px "Overpass", Sans-serif;
  color: var(--color-primary);
}

.advice-text-only p {
  font: 400 17px "Heebo", Sans-serif;
  color: var(--color-secondary);
  width: 19.5rem;
}

.advice-text-only p {
  margin: 15px 0;
}

.buttons-one {
  display: flex;
  align-items: center;
}

.buttons-one a {
  width: 170px;
  height: 60px;
  border-radius: 12px;
  background: var(--background-secondary);
  font: 500 13px "Heebo", Sans-serif;
  color: var(--color-secondary);
  text-decoration: none;
}

.buttons-one a {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #chamado {
  margin-left: 15px;
} */

.buttons-one a:hover {
  color: var(--color-hover);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
}

b {
  font-weight: 400;
  color: var(--color-hover);
}

.advice-img-only img,
.abount-img-only img {
  width: 350px;
  user-select: none;
}

.line-section-one,
.line-infos {
  height: 1.2px;
  background: var(--linear-secondary);
}

.abount-text-only h3 {
  font: 800 35px "Overpass", Sans-serif;
  margin-bottom: 17px;
}

.abount-text-only p,
.text-info b {
  font: 500 15px "Heebo", Sans-serif;
}

.abount-text-only p {
  color: var(--color-primary);
}

.abount-text-only p {
  text-align: justify;
  width: 100%;
  max-width: 380px;
}

.text-info {
  margin: 15px 0;
}

.line-abount {
  height: 1.2px;
  transform: rotate(180deg);
  background: var(--linear-secondary);
}

.only-three-section,
.called-four-only {
  margin: 100px 0;
}

.information-title-only {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.information-title-only h4 {
  font: 800 45px "Overpass", Sans-serif;
}

.informarion-blocks-only {
  display: flex;
  justify-content: space-between !important;
  margin: auto;
}

.blocks-one,
.blocks-two,
.blocks-three {
  border: 2px solid var(--color-hover);
  border-radius: 10px;
  padding: 40px 50px;
  height: 315px;
}

.blocks-one img,
.blocks-two img,
.blocks-three img {
  width: 3rem;
  margin-bottom: 10px;
  user-select: none;
}

.blocks-one h6,
.blocks-two h6,
.blocks-three h6 {
  font: 500 20px "Rubik", Sans-serif;
  color: var(--color-primary);
  margin-bottom: 7px;
}

.blocks-one p,
.blocks-two p,
.blocks-three p {
  width: 289px;
  margin: auto;
  text-align: justify;
  font: 400 15px "Rubik", Sans-serif;
  line-height: 22px;
}

.blocks-three a {
  text-decoration: none;
  position: relative;
}

.blocks-three a:hover {
  color: var(--color-hover);
  transition: 0.5s;
}

.blocks-three a::after {
  content: "";
  width: 0%;
  height: 1.5px;
  background: var(--linear-primary);

  position: absolute;
  left: 0;
  bottom: -3px;

  transition: width 0.2s;
}

.blocks-three a:hover::after {
  width: 100%;
}

.called-four-only, .only-three-section {
  padding: 0 50px;
  margin: 100px 50px;
}

.called-only {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.called-only h4 {
  font: 800 55px "Overpass", Sans-serif;
  color: var(--color-primary);
}

.called-only a {
  width: 225px;
  height: 75px;
  border-radius: 12px;
  background: var(--background-secondary);
  font: 500 17px "Heebo", Sans-serif;
  color: var(--color-secondary);
  text-decoration: none;
}

.called-only a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.called-only a:hover {
  color: var(--color-hover);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
}

.line-footer {
  height: 1.5px;
  background: var(--linear-primary);
  transform: rotate(180deg);
}

.only-footer {
  background: var(--background-secondary);
  padding: 25px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.only-rod {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-copy p {
  font: 600 15px 'Overpass', Sans-serif;
  color: var(--color-secondary);
}

.raps a {
  transition: color 0.2s;
  position: relative;
}

.raps a:hover {
  color: var(--color-hover);
}

.raps a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--linear-primary);

  position: absolute;
  left: 0;
  bottom: -0.4rem;

  transition: width 0.3s;
}

.raps a:hover::after {
  width: 100%;
}

.raps a {
  font: 500 13px "Rubik", Sans-serif;
  text-decoration: none;
  color: var(--color-secondary);
}

.only-top {
  width: 2.1rem;
  height: 2.1rem;
  margin-left: 20px;
}

.only-top {
  background: var(--color-back-top);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.only-top:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
}

.only-top svg {
  width: 25px;
  transform: rotate(180deg);
  color: var(--color-hover);
}

@media screen and (max-width: 1427px) {
  .only-three-section {
    display: none;
  }
}

@media screen and (max-width: 1084px) {
  .abount-text-only p {
    text-align: justify;
    width: 380px;
  }
}

@media screen and (max-width: 872px) {
  .only-one-section, .only-two-section, .only-two-section, .only-three-section, .called-four-only {
    padding: 0 25px;
  }

  .called-four-only, .only-three-section {
    padding: 0 25px;
    margin: 100px 0;
  }

  .only-footer {
    padding: 25px 50px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .only-one-section, .only-two-section, .only-two-section, .called-only, .only-three-section {
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 50px;
    padding: 0 50px;
  }

  .advice-text-only p {
    width: 27.5rem; 
  }

  .abount-text-only p {
    width: 100%;
    max-width: none;
  }

  .called-only {
    padding: 0;
    margin: auto 50px;
  }
  
  .called-only h4 {
    margin-bottom: 25px;
  }

  .only-three-section {
    display: flex;
  }

  .informarion-blocks-only {
    flex-direction: column;
  }

  .blocks-two {
    margin: 50px 0;
  }
}

@media screen and (max-width: 557px) {
  .advice-text-only p {
    width: auto;
  }

  .only-one-section, .only-two-section, .only-two-section, .called-only, .only-three-section, .called-four-only {
    margin: 100px 0;
    padding: 0 50px;
    align-items: center;
  }

  .called-only {
    padding: 0;
  }
}

@media screen and (max-width: 415px) {
  .blocks-one, .blocks-two, .blocks-three {
    padding: 20px 25px;
  }

  .blocks-one p, .blocks-two p, .blocks-three p {
    width: 190px;
    margin: 0;
  }

  .advice-img-only img, .abount-img-only img {
    width: 300px;
  }
  .called-only h4, .advice-text-only h1 {
    font-size: 45px;
  }

  .abount-text-only h3 {
    font-size: 24px;
  }

  .information-title-only h4 {
    font-size: 35px;
  }

  .footer-copy p {
    font-size: 12px;
  }

  .header, .only-footer {
    padding: 25px;
  }

  .only-rod {
    flex-direction: column-reverse;
    align-items: end;
  }

  .only-top {
    margin-left: 0;
    margin-bottom: 10px;
  }

  #map {
    font-size: 12px;
  }
}