.main {
    background-image: url(../image/jonathan-borba-jSNpQciz6-w-unsplash.jpg);
}

@media screen and (max-width: 1036px) {
    .menssage h1 {
        font: 800 50px "Overpass", Sans-serif;
    }
}

@media screen and (max-width: 565px){
    .menssage h1 {
        font-size: 35px;
    }

    .err-404 {
        margin-top: 30%;
    }
}